.footer {
  background-color: #322002;
  color: #ffffff;
  margin-top: 60px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #facc15;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  color: #facc15;
}

.footer-bottom {
  background-color: #462303;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: white;
}

.desc{
  color: white;
}