/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

/* NAVBAR */
.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #c8bd8a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  z-index: 9999;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LOGO */
.logo {
  font-size: 30px;
  font-weight: 800;
  color: #3a2912;
}

.logo span {
  color: #826c3c;
  font-size: 38px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: #826c3c;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 6px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#main-login {
  color: #826c3c;
  font-size: 18px;
  text-decoration: none;
}

/* SEARCH */
.search-box {
  height: 34px;
  width: 160px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-btn {
  height: 34px;
  padding: 0 14px;
  border-radius: 6px;
  border: none;
  background: #f4b400;
  font-weight: 700;
  cursor: pointer;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #3a2912;
  transition: 0.3s;
}

/* MOBILE */
@media (max-width: 768px) {
  .search-box,
  .search-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #c8bd8a;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-search {
    display: block;
    width: 90%;
  }

  .hamburger {
    display: flex;
  }
}
