.hero {
  height: 100vh;
  background-image: url("../img/office.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 246, 201, 0.5); /* black with opacity */
}
.hero * {
  position: relative;
  z-index: 1;
}
.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: rgb(62, 20, 20);
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #f4b400;
  cursor: pointer;
  font-size: 16px;
}

.explore {
  background-color: white;
}
